<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon class="text" name="arrow-back" routerLink="/folder/:id"></ion-icon>&nbsp;&nbsp;&nbsp;Resort</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    

<ion-card routerLink="/resort1">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div>
        <img src="https://lh5.googleusercontent.com/eo79yxO_GAbHp3BsxOXH8U9odPFeDvDEWusX3x3G-iCpyAWIaCahmM179klvpeMLP11t5tikfdmEIi_MUU1dpMxLRHhJDRBpLKBBmO2hlvONuV8jt3MwikZPdkU2RKi3LnRhcbNGGQkL5MOYuKvCwBc" alt="Image 2" />
      </div>
      </ion-col>
      <ion-col size="8">
        <ion-card-content>
          <ion-card-title>Acacia Resort and Dive Center</ion-card-title>
          <p>Located in Brgy. Solo, Mabini, Batangas</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card routerLink="/resort2">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div>
        <img src="https://lh5.googleusercontent.com/yNEXjmmDAeLwdhz1P2jwQrgl_NWZWJpTWEh4VWiTh9VHnCpoa2MH-DcDcWHHnzhWm_Zh7ang90oAHgm9N07lDHOIzZijWU9Lz2VioB5iuexMftSELnWjF_T6kmer-0SatGJTVt8no6EHi7BnWyw5R58" alt="Image 2" />
      </div>
      </ion-col>
      <ion-col size="8">
        <ion-card-content>
          <ion-card-title>Anilao Awari Bay</ion-card-title>
          <p>Located in Brgy. Solo, Mabini, Batangas</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card routerLink="/resort3">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div>
        <img src="https://lh6.googleusercontent.com/Bo0fL9G0I3E9UekatVpQM-S4doDclUxwVCudJOYHzz_GPTr_f6E8-njOz2cgssFzGVTKbzwni1BSt5jb4RsRuFimRPwJpMXY5Q8zt8DPW6psxKu-93gvfLBpyz2qDuAns_Mu2dHgUkhiJyHS7e6ndU4=w1366-h641" alt="Image 2" />
      </div>
      </ion-col>
      <ion-col size="8">
        <ion-card-content>
          <ion-card-title>Bambu Villa Resort</ion-card-title>
          <p>Located in Bgry. Solo, Mabini, Batangas</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card routerLink="/resort4">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div>
        <img src="https://lh4.googleusercontent.com/uk05mqadrl1i80w29QZMCxGsVkZEb9UCiySyZM836IxtjSUDG1SrXIOXQ3COLnpoMoUMYMdAtWyzP5_psszQuvGMlweAr-hbobbkMKQFB3wBFZLvxPASrsP6pqi9Uds8owWQhw86pcJBpiJb9BqmR1w" alt="Image 2" />
      </div>
      </ion-col>
      <ion-col size="8">
        <ion-card-content>
          <ion-card-title>Eagle Point Beach and Dive Resort</ion-card-title>
          <p>Located in Brgy. Bagalangit, Mabini, Batangas</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card routerLink="/resort5">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div>
        <img src="https://lh3.googleusercontent.com/uBRFDT1ThiFrxKze8Hk9ucuPVhnHGFUgOE2_71SZ2o0LGYxLnMXeEzd88nO9a26WuOTUjTzYOW9sbVzorVmCHXlc-vVukvzBLbZMOGkT-Duu_9DULgEzuWAHAbeLEzEzhMtTq7hfufHuwP7bHi3Iuvg" alt="Image 2" />
      </div>
      </ion-col>
      <ion-col size="8">
        <ion-card-content>
          <ion-card-title>Camp Netanya Resort and Spa</ion-card-title>
          <p>Located in Brgy. Ligaya, Mabini, Batangas</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card routerLink="/resort6">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div>
        <img src="https://lh5.googleusercontent.com/gNpUM-O5RzacKSu6BelCe-OCsRPK-l4J8tdreax_epMXKrh-PRLFoH4sU__onk8YUPeK_soRGsl3t7sdvYi4PrpAIfU09w4SggwwpsnI3KhsE98OrN_EBM0nPgvFbB5VqK4-Ou_DBelbXMokS2UMoPU" alt="Image 2" />
      </div>
      </ion-col>
      <ion-col size="8">
        <ion-card-content>
          <ion-card-title>La Chevrerie Resort and Spa</ion-card-title>
          <p>Located in Brgy. Bagalangit, Mabini, Batangas</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card routerLink="/resort7">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div>
        <img src="https://lh6.googleusercontent.com/DBBaLlEm31x_-HhNi-sCkOGrsr-87ngwdhJY5VEHaqrbK8XetL8rGDyH8LDsZ6IqnyDsk9AhFfHHbyU0MmsL0m03AIzF6s_bS7Tgb16aSTdnb4RXdtA25LL3_i7dV_dUIaa_5GWKjyIKVZpklYovkqE" alt="Image 2" />
      </div>
      </ion-col>
      <ion-col size="8">
        <ion-card-content>
          <ion-card-title>Sea's Spring Resort and Restaurant</ion-card-title>
          <p>Located in Brgy. Mainit, Mabini, Batangas</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card routerLink="/resort8">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div>
        <img src="https://lh4.googleusercontent.com/l0RlFS2gndsEHQ_PimSTigXMoj4wPEgC9GZO-I5GeC6TSSWHRwMA8-KI2Jmkiyg2K7eOy0C0SWgHeaGhyJ1YtvtYAyOjO3tsTU_q0uw3ClccRsRWPeYXTKQIUa-XKVl6cvU6ldrVIWshO1wtydYOtew" alt="Image 2" />
      </div>
      </ion-col>
      <ion-col size="8">
        <ion-card-content>
          <ion-card-title>Vivere Azure</ion-card-title>
          <p>Located in Brgy. Anilao, Mabini, Batangas</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card routerLink="/resort9">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div>
        <img src="https://lh4.googleusercontent.com/ymGTHZV7DWN5FGv00uv344du2x05c1vhHcG-ymCu-OtM5gCbby2_sUEi6WOLhKvYibQK8xMkfubpsPurXHxzQuG0PlgxGZ96bufedp51eUvHa6vafmQ--xojffdoh37hPB4wAJBDpVBs73SyYAZoGxs" alt="Image 2" />
      </div>
      </ion-col>
      <ion-col size="8">
        <ion-card-content>
          <ion-card-title>Aiyanar Beach and Dive Resort</ion-card-title>
          <p>Located in Brgy. Bagalangit, Mabini, Batangas</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
    


</ion-content>
<!--Ionfab changes with addition of label-->
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button color="dark">
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button id="loading" routerLink="/restaurant" data-desc="Restaurant in Mabini" color="light">
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-fab-button>
    <ion-loading trigger="loading" message="Loading..." [duration]="1000" spinner="circles"></ion-loading>

    <ion-fab-button id="loading2" routerLink="/gym" data-desc="Gym in Mabini" color="light">
      <ion-icon name="barbell-outline"></ion-icon>
    </ion-fab-button>
    <ion-loading trigger="loading2" message="Loading..." [duration]="1000" spinner="circles"></ion-loading>

    <ion-fab-button id="loading3" routerLink="/cafe" data-desc="Cafe in Mabini" color="light">
      <ion-icon name="cafe-outline"></ion-icon>
    </ion-fab-button>
    <ion-loading trigger="loading3" message="Loading..." [duration]="1000" spinner="circles"></ion-loading>

    <ion-fab-button id="loading4" routerLink="/store" data-desc="Store in Mabini" color="light">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
    <ion-loading trigger="loading4" message="Loading..." [duration]="2000" spinner="circles"></ion-loading>

    <ion-fab-button id="loading5" routerLink="/pier" data-desc="Mabini Port" color="light">
      <ion-icon name="boat-outline"></ion-icon>
    </ion-fab-button>
    <ion-loading trigger="loading5" message="Loading..." [duration]="1000" spinner="circles"></ion-loading>
    
    <ion-fab-button routerLink="/resort" data-desc="Resort in Mabini" color="dark"  color="light">
      <img class="beach" src="assets/img/beach.png"/>
    </ion-fab-button>
    
    <ion-loading trigger="loading5" message="Loading..." [duration]="1000" spinner="circles"></ion-loading>
  </ion-fab-list>
</ion-fab>
<!--Ionfab changes with addition of label end-->
