<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon name="arrow-back" routerLink="/about-settings"></ion-icon>&nbsp;&nbsp;&nbsp;More Information</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
  <ion-item>
    <ion-label>
      <h3>GALA </h3>
      <p>
       
      </p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="ion-text-wrap" align="justify">
      In the Philippine province of Batangas,  
      there is a small municipality known as Mabini.
      It is known for its agricultural industry, scenic 
      beauty, and rich cultural legacy. With attractions 
      such as beaches, resorts, and historical sites to 
      explore, Gala is a  tour assistant application that 
      helps not only the tourist but also the people of 
      Mabini, with the help of the application user can 
      easily navigate different tourist spot like beaches, 
      coffee shops, stores and more. In addition, every 
      category has a provided  map which can help the user 
      to easily  locate the selected resorts, shops, cafe,  
      restaurant and more.
    </ion-label>
  </ion-item>

  </ion-content>


 