<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title><ion-icon name="arrow-back" routerLink="/folder/:id"></ion-icon>&nbsp;&nbsp;&nbsp;Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">

  <ion-label>

    <ion-item>
      <h3 style="margin-bottom: 10px; left: 0px; position: relative;"><img src="https://www.svgrepo.com/show/68124/customer-service.svg" alt="" style="position: relative; height: 20px; width: 20px; left: 0px; top: 4px;">&nbsp;&nbsp;gala@gmail.com</h3>
       
      <ion-label>
        
          
      </ion-label>
    </ion-item>


    
   
    
  </ion-label>

</ion-list>
</ion-content>
