<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon class="text" name="arrow-back" routerLink="/restaurant"></ion-icon>&nbsp;&nbsp;&nbsp;Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <swiper-container (slidechange)="swiperSlideChanged($event)"
 [loop]="true"
 [pagination]="true">

  <swiper-slide><img src="assets/img/frestaurant1.jpg" alt=""></swiper-slide>
  <swiper-slide><img src="assets/img/frestaurant2.jpg" alt=""></swiper-slide>
 
 
  
  </swiper-container>
 <ion-card-header>
      <ion-card-title>Frido's Grill and Resto</ion-card-title>
      <ion-card-subtitle>About</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-icon name="home"></ion-icon>
      Calangi Street Poblacion Mabini Batangas, Mabini, Philippines<br>
      
      
   
      
      <br>Basic Info<br>
      <ion-icon name="fast-food"></ion-icon> Delivery<br>
      Takeout<br>
      Dine-in<br>
      Reservations<br>
      Curbside pickup<br>
      
      <ion-icon name="cash"></ion-icon> Price Range · $<br>
      
    </ion-card-content>
    <ion-button expand="block" (click)="setOpen(true)"><ion-icon name="location-outline"></ion-icon>Locate Now</ion-button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Restaurant</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content >
        <ion-card>
          <div class="mapouter"><div class="gmap_canvas"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.515350039874!2d120.93699607358323!3d13.74776649738998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd07004e1f8c31%3A0x32e39ce741a59b9d!2sFrido&#39;s%20Grill%20and%20Resto!5e0!3m2!1sen!2sph!4v1689556412873!5m2!1sen!2sph" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <a href="https://connectionsgame.org/">Connections Game</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {width:100%!important;height:400px!important;}</style></div>
  <ion-card-header>
            <ion-card-title>Location</ion-card-title>
           
          </ion-card-header>
        
          <ion-card-content>
            
            Calangi Street Poblacion Mabini Batangas, Mabini, Philippines
          </ion-card-content>
        </ion-card>
     </ion-content>
    </ng-template>
  </ion-modal>
  </ion-card>
<!--<div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=poblacion mabini batangas&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://connectionsgame.org/">Connections Game</a></div><style>.mapouter{position:relative;text-align:right;width:600px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:600px;height:400px;}.gmap_iframe {width:600px!important;height:400px!important;}</style></div>-->
  
</ion-content>