<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon class="text" name="arrow-back" routerLink="/resort"></ion-icon>&nbsp;&nbsp;&nbsp;Resort</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <swiper-container (slidechange)="swiperSlideChanged($event)"
 [loop]="true"
 [pagination]="true">
  <swiper-slide><img width="100%" height="260px" src="assets/img/eresort1.jpg" alt=""></swiper-slide>
  <swiper-slide><img width="100%" height="260px" src="assets/img/eresort2.jpg" alt=""></swiper-slide>
  <swiper-slide><img width="100%" height="260px" src="assets/img/eresort3.jpg" alt=""></swiper-slide>
  <swiper-slide><img width="100%" height="260px" src="assets/img/eresort4.jpg" alt=""></swiper-slide>
  <swiper-slide><img width="100%" height="260px" src="assets/img/eresort5.jpg" alt=""></swiper-slide>
  <swiper-slide><img width="100%" height="260px" src="assets/img/eresort6.jpg" alt=""></swiper-slide>
  <swiper-slide><img width="100%" height="260px" src="assets/img/eresort7.jpg" alt=""></swiper-slide>
  <swiper-slide><img width="100%" height="260px" src="assets/img/eresort8.jpg" alt=""></swiper-slide>
  <swiper-slide><img width="100%" height="260px" src="assets/img/eresort9.jpg" alt=""></swiper-slide>
  <swiper-slide><img width="100%" height="260px" src="assets/img/eresort10.jpg" alt=""></swiper-slide>
  <swiper-slide><img width="100%" height="260px" src="assets/img/eresort11.jpg" alt=""></swiper-slide>
  
  
  </swiper-container>
 <ion-card-header>
      <ion-card-title>Eagle Point Beach and Dive Resort
      </ion-card-title>
      <ion-card-subtitle>About</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-icon name="home"></ion-icon>Brgy. Bagalangit Mabini Anilao, Mabini, Philippines<br>
      <ion-icon name="call"></ion-icon> 0917 846 3958<br>
      <ion-icon name="mail"></ion-icon> communications@eaglepointresort.
      com.ph<br>
      <ion-icon name="globe"></ion-icon> eaglepointresort.com.ph<br>
      <br>Basic Info<br>
      <ion-icon name="time"></ion-icon> Always Open<br>
      <ion-icon name="cash"></ion-icon> Price Range · $$<br>
      
    </ion-card-content>

    <ion-button expand="block" (click)="setOpen(true)"><ion-icon name="location-outline"></ion-icon>Locate Now</ion-button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Eagle Point Beach and Dive Resort</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content >
        <ion-card>
          <div class="mapouter"><div class="gmap_canvas"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.9577928380104!2d120.87226807358273!3d13.72100519800878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bdaa10c91dddf7%3A0x6a5e24c20b3abd66!2sEagle%20Point%20Resort!5e0!3m2!1sen!2sph!4v1689561732900!5m2!1sen!2sph" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <a href="https://connectionsgame.org/">Connections Game</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {width:100%!important;height:400px!important;}</style></div>s
  <ion-card-header>
            <ion-card-title>Location</ion-card-title>
         
          </ion-card-header>
        
          <ion-card-content>
            Brgy. Bagalangit Mabini Anilao, Mabini, Philippines
          </ion-card-content>
        </ion-card>
     </ion-content>
    </ng-template>
  </ion-modal>
  </ion-card>
<!--<div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=poblacion mabini batangas&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://connectionsgame.org/">Connections Game</a></div><style>.mapouter{position:relative;text-align:right;width:600px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:600px;height:400px;}.gmap_iframe {width:600px!important;height:400px!important;}</style></div>-->
  
</ion-content>