<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title><ion-icon class="text" name="arrow-back" routerLink="/folder/:id"></ion-icon>&nbsp;&nbsp;&nbsp;Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

<ion-card routerLink="/restaurant1">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div>
        <img src="https://scontent.fmnl17-1.fna.fbcdn.net/v/t39.30808-6/358701116_602240442037989_5441387532891873818_n.jpg?_nc_cat=101&cb=99be929b-3346023f&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH0J577om0WDXP-Am7RbYF62fEaffAAK3zZ8Rp98AArfJ43A7yjcjjsKs7klvamTyToA19DRg0Yiw7VH8AwP5Il&_nc_ohc=CKwCDTjhWp0AX_fEfnz&_nc_ht=scontent.fmnl17-1.fna&oh=00_AfDrqlsYRdkkpXILciq7avVPPmtkSoWkSHElXUds4YLAeQ&oe=64B95D08" alt="Image 2" />
       </div>
      </ion-col>
      <ion-col size="8">
        <ion-card-content>
          <ion-card-title>Hungry Pio</ion-card-title>
          <p>m.panganiban st, Mabini, Philippines</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card routerLink="/restaurant2">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div>
        <img src="assets/img/nrestaurant1.jpg" alt="Image 2" />
       </div>
      </ion-col>
      <ion-col size="8">
        <ion-card-content>
          <ion-card-title>Niknik</ion-card-title>
          <p>m.panganiban st, Mabini, Philippines</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card routerLink="/restaurant3">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div>
        <img src="assets/img/fridos.jpg" alt="Image 2" />
       </div>
      </ion-col>
      <ion-col size="8">
        <ion-card-content>
          <ion-card-title>Frido's Grill and Resto</ion-card-title>
          <p>Calangi Street Poblacion Mabini Batangas, Mabini, Philippines</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
    
</ion-content>
 <!--Ionfab changes with addition of label-->
 <ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button color="dark">
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button id="loading" routerLink="/restaurant" data-desc="Restaurant in Mabini" color="light">
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-fab-button>
   
    <ion-fab-button id="loading2" routerLink="/gym" data-desc="Gym in Mabini" color="light">
      <ion-icon name="barbell-outline"></ion-icon>
    </ion-fab-button>
   
    <ion-fab-button id="loading3" routerLink="/cafe" data-desc="Cafe in Mabini" color="light">
      <ion-icon name="cafe-outline"></ion-icon>
    </ion-fab-button>
   
    <ion-fab-button id="loading4" routerLink="/store" data-desc="Store in Mabini" color="light">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
   
    <ion-fab-button id="loading5" routerLink="/pier" data-desc="Mabini Port" color="light">
      <ion-icon name="boat-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-button routerLink="/resort" data-desc="Resort in Mabini" color="dark"  color="light">
      <img class="beach" src="assets/img/beach.png"/>
    </ion-fab-button>

  </ion-fab-list>
</ion-fab>
<!--Ionfab changes with addition of label end-->
